*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(180, 28, 28), blue);
    
}
.panel{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
.paneltop{
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: rgba(25, 202, 202, 0.74);
    padding: 20px;
    
}
.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.35%;  
}
.elem h2{
    font-size: 17px;
    padding-right: 4px;
    font-weight: 700px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.boxp{
    height: 30px;
    width: 38px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    border-radius: 6px;
}
.panelbottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgb(228, 113, 218);
    padding: 7px 10px;
    gap: 2px;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(10, 10, 10, 0.767);
    width: 40px;
    height: 45px;
    border-radius: 50%;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.bubble:hover{
    background-color: rgb(45, 45, 214);
    cursor: pointer;
}
.name{
    position: absolute;
    top: 12px;
    width: 100%;
    text-align: center;
    left: 50;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 4px;
    box-shadow: 3,red;
    
}
.footer{
    position: absolute;
    bottom: 2px;
    font-size: 0.5rem;
    font-weight: 600;
    padding: 4px 4px;
    color: white;
}